p {
  margin-bottom: 0px;
}

.root {
  background-color: white;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: rgb(0, 98, 226);
}
